
#bod{
  background-color: white;
  font-family: sans-serif;
  color: slateGray;
}

body {
  min-width: 250px; /* your desired width */
  max-width: 100%;
  height: 300px;
  position: relative;
}
